<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="test.css" media="screen" />
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      
      <li><a href="/search">Search</a>
        
      <li><a href="/profile">Profile</a>
      </li>         
      <li><a href="/roulette">Roulette!</a>
        <ul>
            <li><a href="/email">Via Email</a></li>
        </ul>
      </li>
    </ul>
</nav>

<html>

<head>
	<title> Chevere! </title>
	<link 
		rel ="shortcut icon"
		type = "image/ico"
		href = "img/favicon.ico">

</head>


<body> 

</body>

</html>
