<link rel="stylesheet" type="text/css" href="/static/css/nav.css" media="screen" />
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      
      <li><a href="/search">Search</a>
        
      <li><a href="/profile">{{user.name}} {{user.lastname}}</a>
      </li>         
      <li><a href="/roulette">Roulette!</a>
        <ul>
            <li><a href="/email">Via Email</a></li>
        </ul>
      </li>
    </ul>
</nav>

<body>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
	
</body>

{% block content %} {% endblock %}
